 
body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family:  Segoe UI, Arial;
    font-size: 14px;
    background-color: #DDD;
    color:#000; 
}
::selection {
    background: #d47f60; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #d47f60; /* Gecko Browsers */
}
h1{
    color: #e86635;
    font-weight: bold;
    font-size: 16px;
}
#master_header{
    height:50px;
    background-color: #1f1e1f;
    padding:1px;
    border-bottom: #a32c00 1px solid; 
}
#master_content_container{
    position:absolute; 
    width:100%; 
    bottom:0px; 
    padding-bottom: 53px;
    top:53px;
    overflow:hidden; 
}

#master_content_wraper{
    margin:0 auto;
    max-width:800px;
    height:100%; 
    background:#f8f8f8; 
    margin-top:10px;
    margin-bottom:10px; 
    border:1px solid #a93f18; 
    overflow:hidden;
    position:relative; 
}
#master_footer{
    position:absolute;
    width:100%;
    bottom:0;
    height:30px; 
    background-color:#f3f1e4;
}
.menubtnimage{

    cursor: pointer;
    width:12px;
    height: 10px;

    background-image: url('/img/ics.png');
    background-position: 0px 0px;
    margin:0 auto;
    margin-top:5px;
} 
.menubtnimage:hover{
    background-image: url('/img/ics.png');
    background-position: 0px -10px;
}

#master_menu_host{
    position: absolute;
    top:53px; 
    bottom:0px;
    width:200px;
    z-index:4;
    background:#000; 
    filter:opacity(80%);
    display: none;
    border-right:1px solid #057394;
    /* box-shadow: 7px 3px 14px -6px rgba(0,0,0,0.3); */

}
#master_menu_item_host
{ 
    padding-top:15px;
    height: auto;
}
#master_menu_item_host a
{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
.master_menu_item{
    padding:3px;
    cursor:pointer; 
    width:inherit;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid transparent; 
    filter:opacity(100%);
    color: #fff;
}
.master_menu_item:hover{
    padding:3px;
    background-color: #a32c00;
    filter:opacity(100%);
    border: 1px solid #a32c00; 
}
.line{
    border-top:1px solid #a93f18; 
    min-height: 1px;
    max-height: 1px; 
}
.abox{ 
    background: #fff;   
    border:1px solid #a93f18;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
    padding:5px;
    margin: 5px;
}
.bbox{ 
    background: #fff;   
    border:1px solid #057394;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);

} 
.masonry-brick {
    display: inline-block;
    padding: 5px;
    width: 100%;
    margin: 5px -5px; /* for separating masonry-bricks vertically*/
}

@media only screen and (min-width: 480px) {
    .masonry-container {
        -moz-column-count: 2;
        -webkit-column-count: 3;
        column-count: 2;
    }
}

@media only screen and (min-width: 768px) {
    .masonry-container {
        -moz-column-count: 2;
        -webkit-column-count: 3;
        column-count: 2;
    }
}

@media only screen and (min-width: 960px) {
    .masonry-container {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}